<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617801476662-37pcs6er5a4mcp8mb82830oec9lhc7t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617801476662-37pcs6er5a4mcp8mb82830oec9lhc7t1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>617801476662-npjpm8abavrj3pakn4pm19thkgdaa9gh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByacm7ykcblVNEiPWqK6DmN2GX6KdN6vg</string>
	<key>GCM_SENDER_ID</key>
	<string>617801476662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.merttoptas.engtrhukuksozluk</string>
	<key>PROJECT_ID</key>
	<string>hukukengtrsozluk</string>
	<key>STORAGE_BUCKET</key>
	<string>hukukengtrsozluk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617801476662:ios:8068b28bbe5b143171c697</string>
	<key>DATABASE_URL</key>
	<string>https://hukukengtrsozluk.firebaseio.com</string>
</dict>
</plist>